.order-first, .order-second .order-last {
  width: 100%;
  height: 100%;
  margin: 10px;
}

.order-first {
  background-color: #fbf1fc;
}

.order-second {
  background-color: #ffff22;
}

.order-last-footer {
  font-size: 150px;
  text-decoration-color: #1e7e34;
  border-bottom-color: #005cbf;
  background-color: #fb18fc;
}

.order-second {
  font-size: 50px;
}

/*# sourceMappingURL=hw-lesson10.css.map */
