$bcolor: rgb(255,255, 34);
$generalcolor: rgb(251, 241, 252);
$footercolor: rgb(251, 24, 252);

.order-first, .order-second .order-last{
  width:100%;
  height:100%;
  margin: 10px;
}

.order-first{
  background-color: $generalcolor;
}
.order-second{
  background-color: $bcolor;
}
.order-last-footer{
  font-size: 150px;
  text-decoration-color: #1e7e34;
  border-bottom-color: #005cbf;
  background-color: $footercolor;
}


.order-second{
  font-size: 50px;
}

